<a href="https://colab.research.google.com/github/WilliamGalindezArias/data_wrangling/blob/master/Pandas_Fundamentals_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h3> Pandas</h3>

**Why Pandas?**

Quality of data is just as important as the quantity, more often than not, the datasets don't come ready to be ingested in Learning Algorithms, the dataset will often have missing values, outliers, incorrect type of data, all those previous factor will affect the learning process and therefore affect the predictions intended, that is why is so important to develop the skill of being able to look at your data, manipulate it, run basic analysis and make sure is well suited for the learning algorithm chosen.


**What is Pandas?**
Pandas is a package for data manipulation and analysis. This package brings two additional data structures into Python, namely Series and DataFrame. Leveraging these structures allow us to work with **relational** and **labeled data**.


**How to use it ?**

In this notebook will be demonstrated how to perform basic and fundamental operations using pandas, such as:


1.  Creation of Series and DataFrames

2.  Accesing and changing elements in Series and DataFrames

3.  Arithmetic operations on Series

4.  Load data into DataFrames and dealing with **NaN** values

**Data Structure #1 --  Creating a Pandas Series**

**Definition**: 
Pandas Series is a one dimension array-like object. Can hold different data types, and makes possible to assign an Index Label to each element in the Series. In other words, you can label your data whatever you want.

**Syntax:**

pd.Series(data, index)

*Where:*

Data = the values (numbers, strings ...) <br>
index = the labels that correspond to each value

In [0]:
import pandas as pd

In [0]:
pets_data = [2, 3, 'No', 'Yes' ]
pets_index = ['Cats', 'Dogs', 'Older than 1 Year', 'Vaccinated']

In [0]:
pets = pd.Series(data=pets_data, index=pets_index)

In [19]:
pets

Cats                   2
Dogs                   3
Older than 1 Year     No
Vaccinated           Yes
dtype: object

**Some methods in Pandas Series** 

<li> series.size
<li> series.ndim
<li> series.shape

In [6]:
print("The pets Series has: \n", "Size of: ", pets.size, '\n', 'Dimension of: ', pets.ndim, '\n', 'Shape of: ', pets.shape)

The pets Series has:
 Size of:  4
 Dimension of:  1
 Shape of:  (4,)

<li>Size of 4 because it has 4 elements in the dataset, <br><li> Dimension of 1 because as stated above the data structure is a one-dimensional array, <br><li> Shape of (4,) given that the shape is expressed as (row, col). We have 4 rows in  single column.

**The IN operator** <br>
Similar to membership operators in pure Python, the **in operator **is used to validate the membership of an index in the Pandas Series.

In [12]:
x = 'rabbits' in pets
z = 'Cats' in pets
print(" Are there rabbits?", x,'\n', 'what about Cats index?', z)

 Are there rabbits? False
 what about Cats index? True

**Access -- Series Elements**

Ways to access Elements
<li> Using Index Labels </li>
<li> Numerical indices inside square brackets [ ] </li>
<li> Using .loc attribute for index label</li>
<li> Using .iloc attribute for numerical index </li>

In [30]:
# Index labels
print(pets['Cats'], "Using the Index Label : Cats")
# Numerical index
print(pets[0], "Using Numerical Index = 0, for the first element")
# Stating to locate label index
print(pets.loc['Cats'], " Using .loc['Cats']")
# Locating by using Numerical index
print(pets.iloc[0], "Numerical index .iloc[0]")

2 Using the Index Label : Cats
2 Using Numerical Index = 0, for the first element
2  Using .loc['Cats']
2 Numerical index .iloc[0]

In [31]:
# if you use double [] the whole series element is returned
print(pets[['Cats']])

Cats    2
dtype: object

In [24]:
print(type(pets[['Cats']]))

<class 'pandas.core.series.Series'>

**Multiple indices, either label ones or numerical**

In this case, double square brackets are needed, because ['Key'] corresponds to one single element, therefore we need ['key_1'], ['Key_2'], the way we pass multiple indices then become [ ['key_1', ' key_2'] ]

In [34]:
print(pets[['Cats', 'Dogs']])

Cats    2
Dogs    3
dtype: object

Same goes for numerical indices:

In [35]:
print(pets[[0,1]])

Cats    2
Dogs    3
dtype: object

**Using Drop Method**<br>
Items can be deleted by using .drop() method.
Syntax:
*Series.drop(label)*
if the parameter *inplace=True* is not set, the original series remain unchanged

In [41]:
print('Using drop() method with inplace False: \n', pets.drop('Dogs'), '\n')
print("As can be seen in the output, Dogs is taken out of place")

Using drop() method with inplace False:
 Cats                   2
Older than 1 Year     No
Vaccinated           Yes
dtype: object

As can be seen in the output, Dogs is taken out of place

In [45]:
print("printing again the pets Series: \n", pets, '\n')
print("Dogs is back, the original Series remains unchanged")

printing again the pets Series:
 Cats                   2
Dogs                   3
Older than 1 Year     No
Vaccinated           Yes
dtype: object

Dogs is back, the original Series remains unchanged

In [0]:
print("using drop() and setting inplace parameter to True", pets.drop('Dogs', inplace=True))

In [50]:
pets

Cats                   2
Older than 1 Year     No
Vaccinated           Yes
dtype: object

In [51]:
print("the pets series was permanently changed, without dogs")

the pets series was permanently changed, without dogs

**End of basic operations in Pandas Series** <br>
The intent of this short tutorials is to bring up to speed newcomers with the basic tools and tasks <br>
V1.0 -- William Galindez Arias