<a href="https://colab.research.google.com/github/WilliamGalindezArias/data_wrangling/blob/master/Pandas_Fundamentals_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas** <br>
DataFrame Part I <br>
Continuing with the second data structure introduced by Pandas, we encounter the DataFrame, this one  could be defined as a two-dimension structure with labeled rows and columns.

In this short notebook, these topics will be covered:


1.   DataFrame Creation: Manual from a Python Dictionary
2.   DataFrame methods
3.   Dealing with NaN
4.   Accessing data in a DataFrame

1. DataFrame creation <br>
As in the previous lesson, we start by importing the library:

In [0]:
import pandas as pd

We create a small dataset, and from this one we create a pandas Series:

In [0]:
data_0 = [5, 4, 3, 'No', 'No']
index_0 = ['cats', 'dogs', 'rabbits', 'Adopted?', 'Older than 1 year?']

In [0]:
data_1 = [3, 2, 1, 'Yes']
index_1 = ['cats', 'dogs', 'rabbits', 'Adopted?']

Pandas Series:

In [0]:
pet_store_0 = pd.Series(data=data_0, index=index_0)
pet_store_1 = pd.Series(data=data_1, index= index_1)

Once the pandas series have been created, let us create a dictionary of series:

In [0]:
pet_stores = {'Main': pet_store_0, 'Branch': pet_store_1}

Let us recap, we want to create a two-dimension structure, for such task, we will use the DataFrame <br>function and pass to it the data we manually created.<br>
Data Frame Function:<br>
Syntax:<br> pd.DataFrame(data we pass)

In [0]:
my_dataframe = pd.DataFrame(pet_stores)

In [24]:
my_dataframe

                   Main Branch
Adopted?             No    Yes
Older than 1 year?   No    NaN
cats                  5      3
dogs                  4      2
rabbits               3      1

As can be seen in the output above, we have created a Two-Dimension structure with labels in the rows and columns. The Columns Labels are created from the dictionary keys and the row labels from the Series Indices.

**2. DataFrame Methods**<br>
Some basic methods:<br>


1.   DataFrame.shape
2.   DataFrame.size
3.   DataFrame.ndim
4.   DataFrame.values
5.   DataFrame.columns
6.   DataFrame.index

In [27]:
print("Shape Method: ", my_dataframe.shape, "(Rows, Cols)")
print("Size Method: ", my_dataframe.size, "Number of elements")
print("Dimension Method: ", my_dataframe.ndim)
print("Values Method: ", my_dataframe.values)
print("Columns  Method: ", my_dataframe.columns)
print("Index Method: ", my_dataframe.index)

Shape Method:  (5, 2) (Rows, Cols)
Size Method:  10 Number of elements
Dimension Method:  2
Values Method:  [['No' 'Yes']
 ['No' nan]
 [5 3]
 [4 2]
 [3 1]]
Columns  Method:  Index(['Main', 'Branch'], dtype='object')
Index Method:  Index(['Adopted?', 'Older than 1 year?', 'cats', 'dogs', 'rabbits'], dtype='object')

**2.1 Column and Index Keywords <br>**
In the pet store example from this notebook, a dataframe was created using as data source a Python Dictionary, and the whole data set was displayed, given the fact that this dataframe is small there was not any inconvenience in readability, nevertheless there will be cases where only certain columns or rows are of importance to be observed in the dataframe (subset).

In [30]:
main_store_df = pd.DataFrame(pet_stores, columns=['Main'])
main_store_df

                   Main
cats                  5
dogs                  4
rabbits               3
Adopted?             No
Older than 1 year?   No

As can be observed in the output above, a new dataframe was created using only a subset of the data, in this case the column corresponding to 'Main'

In [32]:
branch_store_df = pd.DataFrame(pet_stores, index=['cats', 'Adopted?'])
branch_store_df

         Main Branch
cats        5      3
Adopted?   No    Yes

Likewise, by utilizing the 'index' Keyword, a new dataframe has been created with a subset given by the labels passed to the index at the moment of the structure creation.